<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Интернет магазин одежды Sport-wear</h1>
    </header>
    <br>
    <main>
        <ul>
            <li><a href="wear.html">Одежда</a></li>
            <li><a href="foot.html">Обувь</a></li>
            <li><a href="jacket.html">Куртки</a></li>
          </ul>
          {% block content %}
          
          {% endblock %}
    </main> 
    <footer>
        Все права защищены 2024 ©️
    </footer>
</body>
</html>

